.indi__slider{
   display: flex;
   overflow: hidden;

}

.main__slider{
   position: relative;
   overflow: hidden;
   padding: 26px;
}

.product__container{
   padding: 0 10px;
   display: flex;
   overflow-x: hidden;
   overflow-y: hidden;
   scroll-behavior: smooth;
}

.pre__btn,.next__btn{
   border: none;
   width: 60px;
   height: 100%;
   position: absolute;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0);
}

.next__btn{
   right: 0;
}

.next__btn p, .pre__btn p{
   font-size: 50px;
   background-color: rgba(255, 255, 255, 0.468);
   box-shadow: 0 0 10px 1px black;
   border-radius: 10px;
   color: rgb(0, 0, 0);
   width: 50px;
   height: 50px;
   cursor: pointer;
}